<article
  class="bg-white dark:bg-slate-800 rounded-xl shadow-sm border border-slate-200 overflow-hidden flex flex-col"
>
  @if (cardHeader(); as header) {
    <header class="px-4 py-3 border-b border-slate-200 flex items-center justify-between gap-2">
      <ng-container [ngTemplateOutlet]="header"></ng-container>
    </header>
  }

  <section class="px-4 py-3 flex-1">
    <ng-container [ngTemplateOutlet]="cardBody()"></ng-container>
  </section>

  @if (cardFooter(); as footer) {
    <footer class="px-4 py-3 border-t border-slate-200 bg-slate-50 text-right">
      <ng-container [ngTemplateOutlet]="footer"></ng-container>
    </footer>
  }
</article>
